<html>
<head>
	
	<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>
	<body>
		<div class="container">
		<div class="formsec">
			{%if flag==3%}
			<script>
				var msg=String("{{msg}}");
				alert(msg);
			</script>
			{%endif%}
		
		<form action="{{url_for('issuebook')}}" method="post">
			<h2>ISSUE BOOK</h2>
			<p>Roll No</p>
			<input type="number" placeholder="Roll no" name="rn" required>
			<p>Book Id</p>
			<input type="number" placeholder="BOOK ID" name="bid" required>
			<p>Issue Date</p>
			<input type="date" name="dt" required>
			<p><input type="submit" value="submit"></p>
		</form>
	</div>
</div>
		
	</body>
</html>